.top-header {
    box-sizing: border-box;

    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;

    /* WHITE

Header background, team card background
*/
    background: #FFFFFF;
    /* CORNFLOWER */

    border-bottom: 1px solid #E7E9FC;
}

.logo {
/* Auto layout */
    text-decoration: none;
    width: 71px;
    height: 21px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* NAVY BLUE */

    color: #2E2F42;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 24px;
}

.web-logo {
/* Web */


    width: 44px;
    height: 21px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    /* IRIS */

    color: #4D5AE5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/*Navigation*/
.navigation-list{
/* Menu Nav */

    list-style: none;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 261px;
    height: 24px;
    left: 347px;
    top: 24px;
}

.navigation-names .studio {
/* Studio */


    width: 48px;
    height: 24px;

    /* Body Medium */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: #2E2F42;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.navigation-names .portfolio {
/* Portfolio */


    width: 66px;
    height: 24px;

    /* Body Medium */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: #2E2F42;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.navigation-names .contacts {
    width: 67px;
    height: 24px;

    /* Body Medium */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    /* NAVY BLUE */

    color: #2E2F42;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;       
}
/*End Navigation*/

.email {
/* info@devstudio.com */


    position: absolute;
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;

    /* Body */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    /* SLATE */

    color: #434455;
}

.phone {
/* +11 (000) 111-11-11 */


    position: absolute;
    width: 151px;
    height: 24px;
    left: 1133px;
    top: 24px;

    /* Body */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    /* SLATE */

    color: #434455;
}

/*buttons*/
.button-list {
/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 586px;
    height: 48px;
    left: 427px;
    top: 168px;
}

.button-item {
    list-style: none;
}

